:root {
  --bg-color: #2c2f33;
  --dark-bg-color: #23272a;
  --text-color: #99aab5;
  --author-color: #fff;
  --input-color: #40444b;
  --msg-form-height: 3rem;
  --sidebar-width: 6rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
}

img {
  filter: grayscale() invert();
}
